.button {
  margin: 5px;
  padding: 18px 28px;
  border-radius: 25px;
  border: 2px solid #333;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.2s ease;
  
}

.button:hover {
  background-color: #70b2e9;
   transform: scale(1);
}

.button-primary {
  background-color: #4299e1;
  color: white;
  border-color: #4299e1;
  border-radius: 25px;
}
