.button {
  margin: 5px;
  padding: 18px 28px;
  border-radius: 25px;
  border: 2px solid #333;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.2s ease;
  
}

.button:hover {
  background-color: #64adfb;
   transform: scale(1.1);
}

.button-primary {
  background-color: #0094ea;
  color: white;
  border-color: #0094ea;
  border-radius: 25px;
}
