/* Homepage.css - Estilos para a página inicial */

.homepage {
  background-color: rgb(247, 220, 184); 
  min-height: 100vh;     /* Ocupa toda a altura da janela */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin); /* Tamanho de fonte responsivo */
  color: #000; /* Texto preto */
}

.homepage-buttons {
  display: flex;
  gap: 40px; /* Espaço entre botões */
}