.scenario-selection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.scenario{
  width: 120px;
  height: auto;
  margin: 12px;
  padding: 6px;
  cursor: pointer;
  border-radius: 8px;
  border: 2px solid transparent;
}

.scenario-selected{width: 120px;
  height: auto;
  margin: 12px;
  padding: 6px;
  cursor: pointer;
  border-radius: 8px;
  border: 2px solid transparent;
  border-color: #4CAF50;
}

.scenario-grid{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}