  body {
    background-color:#EFE1C3;

}

.scenario-selection {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
   /* position: relative; /*/

}

.scenario{
  width: 420px;
  height: auto;
  margin: 15px;
  padding: 6px;
  cursor: pointer;
  border-radius: 25px;
  border: 2px solid transparent;
}

.scenario-selected{width: 420px;
  height: auto;
  margin: 15px;
  padding: 6px;
  cursor: pointer;
  border-radius: 25px;
  border: 2px solid transparent;
  border-color: #4CAF50;
 
}

.scenario-grid{
  margin: 3% 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}