.return-button {
  cursor: pointer;
  margin-bottom: 40px;
  padding: 20px;
  display: flex;
  align-items: center;
  background: #F7A41D;
  border: 2px solid #F7A41D;
  transition: all 0.2s ease;
  width: 30px;
  height: 20px;
  border-radius: 30px;

}

.return-button:hover {
  background: #e9ecef;
  transform: scale(1.1);
}

.arrow{
  align-self: center;
  height: 20px;
}