/* CharacterCreation.css - Estilos para o painel de criação de personagens */

.characters-creation {
  display: flex;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
  justify-content: center;
  gap: 20px;
}

.character-left {
  background-color: #f8f9fa; /* Painel esquerdo */
  transform: rotate(90deg);
  transform-origin: center;
}

.character-right {
  background-color: #e9ecef; /* Painel direito */
  transform: rotate(-90deg);
  transform-origin: center;
}