
.done-button {
  background-color: #91CB51;
  color: white;
  border-color: #91CB51;
  width: 69px;
  height: 60px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}