.characters-creation {
    display: flex;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent scrollbars from rotation */
}

.character-left,
.character-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.character-left {
    background-color: #f0f0f0;
    transform: rotate(90deg);
    transform-origin: center; /* Ensure rotation happens from center */
}

.character-right {
    background-color: #f8f8f8;
    transform: rotate(-90deg);
    transform-origin: center; /* Ensure rotation happens from center */
}

.element-selector{
    align-self: flex-start;
    padding: 20px;
    border-radius: 30px;
    border: 2px black solid;
    transform: translate(-30px);
  
}

/* Adjust the inner component to handle rotation */
.page {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vh;
}

/*left-side*/
.back-arrow{
    margin-bottom: 20px;
    font-size: 60px;
}

.trash{
    padding: 20px 20px  ;
    border: 1px black solid;
    border-radius: 50px;
    width: 1px;
    margin-top: 100px;

}

/*character*/
.character{
    flex:10;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.head{
    border: 1px black solid;
    border-radius: 50px;
    padding: 40px;
}

.up{
    display: flex;
    flex-direction: row;
}

.tronco{
    padding: 40px;
    border: 1px black solid;
}

.left-arm, .right-arm{
    padding: 10px;
    border: 1px black solid;
}

.legs{
    display: flex;
    flex-direction: row;
}

.left-leg, .right-leg{
    padding: 40px 10px;
    border: 1px black solid;
}

/*right side*/
.left-side, .right-side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:100vh;
}

.character-adder{
    align-self: flex-start;
    padding: 20px;
    border-radius: 30px;
    border: 2px black solid;
    transform: translate(30px); 
}

.done-btn{
    margin-top: 500px;
}