.homepage {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.homepage-buttons{
  display:flex;
  gap: 20px;
}

button {
  background-color: #ffffff;
  border-radius: 20px;
  color: #000000;
  padding: 10px;
}
