.side-tab {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  transition: all 0.3s ease;
  position: relative;
  height: 60px; /* Mesma altura do trigger */
}

.side-tab-left {
  flex-direction: row;
}

.side-tab-left .side-tab-trigger {
  order: 1;
}

.side-tab-left .side-tab-content {
  order: 2;
  margin-left: -10px;
  transform: translateX(-100%) scale(0.8);
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 70px; /* Posiciona ao lado do trigger */
  top: 0;
  z-index: 100;
  height: 60px; /* Mesma altura do trigger */
  border-radius: 30px; /* Mantém circular */
  width: 60px; /* Mesma largura do trigger */
  overflow: hidden;
}

.side-tab-left.side-tab-open .side-tab-content {
  transform: translateX(-50px) scale(1);
  opacity: 1;
  visibility: visible;
  margin-left: 0;
  border-radius: 30px; /* Mantém circular */
  height: 60px; /* Mantém mesma altura */
  width: 200px; /* Expande apenas a largura */
}

.side-tab-right {
  flex-direction: row-reverse;
}

.side-tab-right .side-tab-trigger {
  order: 2;
  background-color: #5CC8EE;
}

.side-tab-right .side-tab-content {
  order: 1;
  margin-right: -10px;
  transform: translateX(100%) scale(0.8);
  opacity: 0;
  visibility: hidden;
  position: absolute;
  right: 70px; /* Posiciona ao lado do trigger */
  top: 0;
  z-index: 100;
  height: 60px; /* Mesma altura do trigger */
  border-radius: 30px; /* Mantém circular */
  width: 60px; /* Mesma largura do trigger */
  overflow: hidden;
  background-color: #5CC8EE;
  border:#5CC8EE;
}

.side-tab-right.side-tab-open .side-tab-content {
  transform: translateX(90px) scale(1);
  opacity: 1;
  visibility: visible;
  margin-right: 0;
  border-radius: 30px;
  height: 60px;
  width: 200px;
}

.side-tab-trigger {
  width: 80px;
  height: 60px;
  background: #DDC28A;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  z-index: 20;
  transition: all 0.2s ease;
  position: relative;
}

.side-tab-trigger:hover {
  transform: scale(1.05);
}

.tab-icon {
  transform: translate(10px);
  font-size: 24px;
  color: white;
  display: flex;
  align-items: center;
}

.side-tab-right .tab-icon{
  transform: translateX(-5px);
}

.side-tab-content {
  background: #DDC28A;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  border: 2px solid #DDC28A;
  transition: all 0.3s ease;
  z-index: 10;
  overflow: hidden;
  height: 100%;
  
}

.tab-body {
  padding: 0;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.2s ease 0.1s;
  width: 100%;
}

.side-tab-open .tab-body {
  opacity: 1;
}