.trash-button {
  padding: 15px;
  border: 2px solid #dc3545;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;
  margin-top: 20px;
  background: white;
  transition: all 0.2s ease;
  position: absolute;
  bottom: 10px;
}

.trash-button:hover {
  background: #f8d7da;
}